@import "./reset.css";
@import "./btn.css";
@import "./fonts.css";
@import "./vars.css";

html,
body {
  min-height: 100vh;
}

body {
  background-color: var(--bgColor);
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
}
/* a {
  text-decoration: none;
  color: gray;
} */
.aside {
  height: 400px;
}
.main {
  height: 400px;
}
.d-flex {
  display: flex;
}
.card mb-4 {
  background-color: var(--darkGray);
}
.task-title {
  font-weight: 400;
  padding-top: 5px;
}
.gray {
  color: var(--gray);
}
.task-title--done {
  text-decoration: line-through;
  color: var(--lightGray);
}
.task-item__buttons {
  display: flex;
  column-gap: 5px;
}
.notify-holder {
  height: 60px;
  margin-bottom: 20px;
}
.empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.empty-list__title {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 300;
}
.empty-list__icon {
  color: var(--green);
  font-size: 32px;
}

.none {
  display: none !important;
}

.float-right {
  float: right;
}
.copyright {
  margin-top: 40px;
  font-size: 14px;
  color: var(--gray);
  text-align: center;
  margin-bottom: 30px;
  /* position: absolute; */
  /* bottom: 30px; */
  /* left: 0; */
  /* right: 0; */
}

.tgimage {
  width: 18px;
}
